@model IEnumerable<MVC5_and_ADO.NET.Models.Employee>

<p>
    @Html.ActionLink("Add New Employee", "AddEmployee")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.EmployerID)
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployerID }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmployerID }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>

    }

</table> 